body {
  margin: 2em 12em;
  overflow-x: hidden;
}

h1 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.App {
  overflow-x: hidden;
}

.App-header {
  color: black;
}

.App-address {
  text-align: center;
  width: 100%;
}

.addressInput {
  border: 1px solid black;
  font-size: 1.4em;
  text-align: center;
  margin: auto;
  padding: 1em 0;
  width: 90%;
}

/* MOBILE */

@media (max-width: 1200px) {
  body {
    margin: .4em 2em;
    overflow-x: hidden;
  }

  .App {
    overflow-x: hidden;
  }

  .App-header {
    color: black;
  }

  .App-address {
    text-align: center;
    width: 100%;
  }

  .addressInput {
    border: 1px solid black;
    font-size: .8em;
    text-align: center;
    margin: auto;
    padding: 1em 0;
    width: 90%;
  }
}
